<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/student_pic_app"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity
            android:name=".StudentListActivity"
            android:exported="true"
            android:label="Student List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewStudentActivity"
            android:exported="false"
            android:label="Add New Student" />

        <activity
            android:name=".StudentDetailsActivity"
            android:exported="false"
            android:label="Student Details" />

        <activity
            android:name=".EditStudentActivity"
            android:exported="false"
            android:label="Edit Student" />

    </application>
</manifest>
